
<div class="container">

      

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">

         <%= image_tag book_img(@book.main_img, "main"), class:"img-fluid",width: "100%" %>

        </div>

        <div class="col-md-4">
          <h3 class="my-3"><%= @book.title %> </h3>
          <h4 class="my-4"><%= link_to  "Voir le projet", @book.url, target: :_blank %></h4>

          <p><%= @book.body %></p>
          <h3 class="my-3">Technologies utilisées</h3>
          <ul>
            <% @book.technologies.each do  |tech| %>
                <li><%= tech.name %></li>
            <% end %>
          </ul>
        </div>

        <% if logged_in?(:site_admin) %>
          <div class="col-md-12">
            <%= link_to  "Edit", edit_book_path(@book) %>
            <%= link_to  "Delete",  book_path(@book), data: { confirm: 'Are you sure?' }, method: :delete %>
          </div>
        <%end%>
</div>














