

<%= image_tag @book.main_img %>

<h1><%= @book.title %></h1>

<em><%= @book.subtitle %></em>

<p><%= @book.body %></p>



<h2> Technologies utilisée </h2>
<% @book.technologies.each do  |tech| %>
    <p><%= tech.name %>
<% end %>
