<!DOCTYPE html>
<html>
  <head>
    <title><%= @book_title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'books', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render  "shared/book_nav" %>
  <%= render  "shared/book_header" unless logged_in?(:site_admin) %>


    


    


    <%= yield %>
    <%= source_helper("Book") %>

    <%= render  "shared/book_footer" %>


  </body>
</html>